:root {
    --card-standart-width: 17rem;
}

.card-standart-width {
    width: var(--card-standart-width)!important;
}

.card img.image {
    width: calc(17rem - 2px);
    height: 190px;
}

.card .card-text {
    height: 80px;
}

.card {
    padding: 0;
}

ul.list {

}

ul.list li.list-item {
    list-style: none;
    margin-top: 20px;
}

footer.footer {
    width: 100%;
    height: auto;
    padding: 30px 0 30px 0;
}

.main {
    min-height: calc(100vh - 111px - 260px - 96px);
}

.image-docs-medium {
    width: 24rem;
}

.image-docs-large {
    width: 48rem;
}

.image-scale-small {
    width: 100%;
}

.logo {
    width: 64px;
    height: 64px;
}